body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Contenedor1{
  margin: 0 auto;
  width: 80%;
  border-bottom: 4px outset cyan;
  border-top: 4px inset cyan;
  padding: 1% 0;
  margin-top: 100px;
}
.texto{
  text-align: right;
  width: 19%;
  position: absolute;
  margin-top: 5.5%;
  margin-left: 5%;
  
}
.tabla{
  margin-left: 35%;
  width: 77%;
  margin-top: 10;
}
.texto, .tabla{
  display: inline-block;
}
header{
  width: 100%;
  height: 150px;
  overflow: hidden;
}
header img{
  width:40%;
  height: 100%;
  float: left;
}
table {
  margin-top: 2%;
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 1em;
  margin-right: 5%;
  float: left;
}

table, th, td {
  border: 2px solid black;
}

th, td {
  padding: 0.8%;
  text-align: center;
}

#img{
  width: 400px;
  margin-left: 200px;
  margin-top: 20px;
}

#entrada{
  margin-top: 50px;
}

label,input, select{
  margin-left:1% ;
}

button{
  background-color: rgb(30, 193, 152);
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 2%;
}
button:hover{
  background-color: #2980b9;
}

.izq, .der{
  display: inline-block;
  padding-right: 1%;
  
}

.fac{
  width: 100%;
  margin-top: 2%;
  background-color: #4795c9;
}
.factura{
  width: 50%;
  margin: 0 auto;
  border-style: double;
  border-color: rgb(19, 155, 121);
}

#sep{
  text-align: center;
  border-style:solid;
  width: 50%;
  margin: 0 auto;
  height: auto;
  padding-top: 1%;
  font-weight: bold;
  margin-top: 50px;
  border-color: rgb(60, 212, 174);
}

#sep .final{
  float: right;
  margin-right: 1.5%;
  border-bottom: 2px solid #2980b9;
  border-top: 2px solid #2980b9;
  color: rgb(19, 154, 120)
}